#intro-login {
	padding: 8px 12px 8px;
	
	.scroll {
		height: 100%;
	}

	#login-image {
		display: block;
		height: 20%;
	}

	input {
		text-align: center;
	}
	.list {
		.item-input {
			border: 0px
		}
	}

}