#main-myenergy-line {
	margin-bottom: 8px;
	margin-top: 8px;
	height: 100%;
	
	.line-container {
		border: 1px solid #A0A3B2;
		border-radius: 8px;
		margin-left: 12px;
		margin-right: 12px;
		padding-left: 20px;
		height: 100%;
		position: relative;
		vertical-align: middle;
		box-shadow: 2px 2px 5px #A0A3B2;

		.line-image {
			display: inline-block;
			width: 48px;
			height: 48px;
			position: absolute;
			top: calc(50% - 24px);

			&.usage-trends {
				content: url('../img/UsageTrends.jpe');
			}
			&.energy-calendar {
				content: url('../img/energycalendar.png');
			}
			&.realtime-usage {
				width: 54px;
				content: url('../img/realtime.png');
			}
			&.standby-power {
				content: url('../img/stanbypower.jpg');
			}
			&.bill-estimator {
				width: 60px;
				content: url('../img/bill_estimator.png');
			}
		}
		.line-label {
			position: absolute;
			top: calc(50% - 10px);
			padding-left: 72px;
			font-size: 16px;
		}
	}
}