#kwh-usage {
	padding: 8px 12px 8px;
	
	.scroll {
		height: 100%;
	}	

	#header-content {
		height: 20%;
		padding-top: 30px;
		padding-left: 8px;

		.line {
			height: 28px;
			line-height: 28px;
			font-size: 16px;

			.subject {
				display: inline-block;
				width: 50%;
				text-align: left;
			}

			.figure {
				display: inline-block;
				width: 40%;
				text-align: right;
			}
		}		
	}	

	#main-content {
		height: 80%;

		#guide {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 20px;
		}
		#chart {
			height: 60%;
		}
	}

	#footer-content {
		height: 20%;
	}
}