#compare-container {
    font-size: 20px;
    background: #F0F0F0;
    height: 100%;
    position: absolute;
    top: 0px;

    .chart {
        float:right;
		height: 300px;
		margin-top: 20px;
		margin-right: 2px;
        margin-left: 2%;
        margin-bottom: 10px;
        width:100%;
    }

    .scroll{
        height: 200%;
    }

    .pinkland{
        background: #E82486;
        height: 70px;
        top: 44px;
    }

    h3{
        float:left;
        margin-left:5%;
        color: white;
        font-size: 22px;
    }

    .edit-button{
        margin-top:5%;
        margin-right: 5%;
        margin-left: 5%;  
    }
    .main-button{
        margin-top: 25%;
        vertical-align: middle
    }

    img{
        max-width: 100%;
    }

}
#compare-edit{
    background: linear-gradient(white,#E82486);
        h4{
        margin-bottom: 3%;
        margin-top: 3%;
        text-align: center;
    }
}