<ion-view>
	<ion-content id="community">

        <div class="img">
            <img src="../../img/grass-temp.jpg">
        </div> 

        <div class="community-container">
            <div class="main-community-line" ng-click="compete()"><img class="center" src="../../img/line_tree.png" height=40 width=40> Compete With Friends</div>
        </div>

        <div class="community-container">
            <div class="main-community-line" ng-click="compare()"><img class="center" src="../../img/line_tree.png" height=40 width=40> Neighbor Comparison</div>
        </div>

        <!-- stub for when there's a built in forum feature
        <div class="community-container">
            <div class="main-community-line" ng-click="forum()"> Forum </div>  
        </div> -->
        <div class="community-container">
            <div class="main-community-line"><a href="https://www.facebook.com/EnerTalk" target="_blank"><img class="center" src="../../img/line_tree.png" height=40 width=40> Forum</a></div>
        </div>
         
        <div class="community-container">
            <div class="main-community-line" ng-click="donate()"><img class="center" src="../../img/line_tree.png" height=40 width=40>Donate to Charity</div>
        </div>

        <div class="community-container">
            <div class="main-community-line" ng-click="homeDR()"><img class="center" src="../../img/line_tree.png" height=40 width=40>Home DR</div>
        </div>
    </ion-content>
</ion-view>
