<ion-view>
	<ion-content id="community">
        <div class="community-container">
            <div class="main-community-line" ng-click="compete()">Compete With Friends</div>
        </div>

        <div class="community-container">
            <div class="main-community-line" ng-click="compare()">Compare to Neighbors</div>
        </div>

        <!-- stub for when there's a built in forum feature
        <div class="community-container">
            <div class="main-community-line" ng-click="forum()"> Forum </div>  
        </div> -->
        <div class="community-container">
            <div class="main-community-line"><a href="https://www.facebook.com/encored.us" target="_blank">Community Forum</a></div>
        </div>
         
        <div class="community-container">
            <div class="main-community-line" ng-click="donate()">Donate to Charity</div>
        </div>
    </ion-content>
</ion-view>
