<ion-view view-title="Community">
	<ion-content id="community">
            <div class="community-container">
                <div class="main-community-line" ng-click="compete()"> Compete With Friends </div>
            </div>

            <div class="community-container">
                <div class="main-community-line" ng-click="compare()"> Compare to Neighbors </div>
            </div>

            <div class="community-container">
                <div class="main-community-line" ng-click="forum()"> Forum </div>
            </div>

            <div class="community-container">
                <div class="main-community-line" ng-click="donate()"> Donate to Charity </div>
            </div>

            <!--
            <button class="button button-block button-positive" ng-click="compete()">Compete with Friends</button>
            <button class="button button-block button-positive" ng-click="compare()">Compare to Similar Homes</button>
            <button class="button button-block button-positive" ng-click="forum()">Forum</button>
            <button class="button button-block button-positive" ng-click="donate()">Donate</button>
            !-->
    </ion-content>
</ion-view>
