<ion-view view-title="Comparison to Neighbors">
    <ion-content id="compare-container">
        <div id="compare">

            <!--    <h4>
            square footage is: {{home.size}}
            <br />
            number of people is: {{home.people}}
            <br />
            number of bedrooms is: {{home.bedrooms}}
            <br />
            number of bathrooms is: {{home.bathrooms}}

        </h4> -->
            
            <img src="img/comparetemp.jpg" />
        </div>
</ion-content>
</ion-view>