<ion-view view-title="Comparison to Neighbors">
    <ion-content id="compare-container">
        <div id="compare">

            <button class="button button-block button-positive" ng-click="edit()">Add or Edit Home Information</button>

            <!-- <img src="img/comparetemp.jpg" /> -->

            <div id="currentChart"></div>

            <div ng-repeat="data in dataList  |filter: removeZero"
                 repeat-complete = checkDone($index)>
                <div id="{{'chart' + $index}}"></div> 
                
            </div>
        </div>
</ion-content>
</ion-view>