<ion-view view-title="Neighbor Comparison">
	<ion-content id="compare-edit-features">
        <div id="compare">

            <h4> Which of the following features does your home have?</h4>

            <ion-checkbox ng-model="home.garage">Do you have a garage?</ion-checkbox>
            
            <ion-checkbox ng-model="home.jacuzzi">Do you have a jacuzzi?</ion-checkbox>
            
            <ion-checkbox ng-model="home.electric_car">Do you have an electric car?</ion-checkbox>

            <ion-checkbox ng-model="home.pool">Do you have a swimming pool?</ion-checkbox>

            <button class="button button-block button-positive" ng-click="doneEditing()">Done!</button>

        </div>
        
    </ion-content>
</ion-view>
