<ion-view view-title="Donate">
    <ion-content id="community">
        <div class="community-container">
            <div class="main-community-line"><a href="https://donate.doctorswithoutborders.org/onetime.cfm" target="_blank"> Donate to Doctors Without Borders </a> </div>
        </div>

        <div class="community-container">
            <div class="main-community-line"><a href="https://www.unicefusa.org/help/donate" target="_blank"> Donate to UNICEF</a> </div>
        </div>

        <!-- this is the only direct donation link I could find for PCF. Needs testing on other computers-->
        <div class="community-container">
            <div class="main-community-line"><a href="https://secure3.convio.net/pcf/site/Donation2?df_id=2540&2540.donation=form1&s_src=web&s_subsrc=main_donate" target="_blank"> Donate to the Prevent Cancer Foundation </a></div>
        </div>

        <div class="community-container">
            <div class="main-community-line"><a href="https://donate.charitywater.org/donate" target="_blank">Donate to charity: water</a></div>
        </div>
    </ion-content>
</ion-view>