<ion-view view-title="Donate">
    <ion-content id="community">
        <div class="community-container">
            <div class="main-community-line"><a href="https://donate.doctorswithoutborders.org/onetime.cfm" target="_blank"><img class="center" src="../../img/doctors_without_borders.png" height=60 width=60> Donate to Doctors Without Borders
                <p>Doctors Without Borders help people worldwide where the need is greatest, delivering emergency medical aid to people affected by conflict, epidemics, disasters, or exclusion from health care.</p> </a> </div>
        </div>

        <div class="community-container">
            <div class="main-community-line"><a href="https://www.unicefusa.org/help/donate" target="_blank"><img class="center" src="../../img/Unicef-Logo.png" height=60 width=60> Donate to UNICEF
                <p>The United Nations Children's Fund works for children's rights, survival, development and protection.</p></a> </div>
        </div>

        <!-- this is the only direct donation link I could find for PCF. Needs testing on other computers-->
        <div class="community-container">
            <div class="main-community-line"><a href="https://secure3.convio.net/pcf/site/Donation2?df_id=2540&2540.donation=form1&s_src=web&s_subsrc=main_donate" target="_blank"><img class="center" src="../../img/prevent-cancer.jpeg" height=60 width=60> Donate to the Prevent Cancer Foundation
                <p>The mission of the Prevent Cancer Foundation is saving lives across all populations through cancer prevention and early detection.</p> </a></div>
        </div>

        <div class="community-container">
            <div class="main-community-line"><a href="https://donate.charitywater.org/donate" target="_blank"><img class="center" src="../../img/charitywater.jpg" height=60 width=60>Donate to charity: water
                <p>Charity: Water is a non-profit organization that provides clean and safe drinking water to people in developing nations.</p>
                </a></div>
        </div>
    </ion-content>
</ion-view>