<ion-view view-title="Monthly Overview">
	<ion-content id="energy-calendar" has-bouncing="false" scroll="false">
		
	<!-- 	<div id="title">Energy Calendar</div> -->
		
		<div id="calendar-header">
			<span class="ion-chevron-left calendar-button left" ng-click="button.clickLeft()" ng-show="false"></span>
			<span id="calendar-date" ng-bind="calendarTitle"></span>
			<span class="ion-chevron-right calendar-button right" ng-click="button.clickRight()" ng-show="false"></span>
			<div id="switch-button-container">
				<span class="calendar-switch-button ">1</span>
				<span class="calendar-switch-button">2</span>
			</div>
		</div>

		<div id="calendar-container">
			<div id="calendar">
				<span class="day-elem" ng-repeat="dayOfWeek in dayOfWeekList" ng-bind="dayOfWeek"></span>
				<span class="elem" ng-repeat="date in dateList track by $index">
					<span class="elem-header"></span>
					<span class="elem-badge" ng-class="{'green': date.excessPlan === false}"></span>
				</span>
			</div>
		</div>

		<div id="calendar-subcontents-container">
			<div class="sub-content">
				Expected usage this month
				<span class="sub-content-figure">{{forecastUsage}} kWh</span>
			</div>
			<div class="sub-content">
				Total usage so far
				<span class="sub-content-figure">{{totalUsage}} kWh</span>
			</div>
		</div>

	</ion-content>
</ion-view>