<ion-view>
	<ion-content id="kwh-usage" scroll="false">

		<div id="header-content">
			<div class="line">
				<span class="subject">Daily Goal</span>
				<span class="figure">{{dailyPlan}}kWh</span>
			</div>

			<div class="line">
				<span class="subject">Today`s Usage</span>
				<span class="figure">{{todayUsage}}kWh</span>
			</div>

			<div class="line">
				<span class="subject">Remaining</span>
				<span class="figure">{{remaining}}kWh</span>
			</div>
		</div>

		<div id="main-content">

			<div id="guide">
				If you keep your real-time usage constantly, you will meet the goal in 2 hours
			</div>

			<div id="chart">

			</div>

		</div>

		<div id="footer-content">

		</div>
	
	</ion-content>
</ion-view>