<ion-view>
	<ion-nav-title>
		<img src="./img/logo.png" style="width:100px; margin-top: 10px">
	</ion-nav-title>
	
	<ion-content id="myenergy">
	  	<div id="myenergy-kwh-container" ng-click="goToDetailView('main.kwh-usage')">
	  		
	  		<div class="header">
	  			<span class="header-title">Today</span>
	  		</div>

	  		<div id="kwh-chart"></div>
	  		
	  		<div class="footer">
	  			<div class="footer-list">
	  				<span class="list-image co2"></span>
	  				<span class="list-label"><span class="highlighted">{{data.co2Emitted}}</span>  Kg CO<sub>2</sub> Emitted</span>
	  			</div>
	  			<div class="footer-list">
	  				<span class="list-image tree"></span>
	  				<span class="list-label"><span class="highlighted">{{data.treeNeeded}}</span>  Pine Trees Needed</span>
	  			</div>
	  			<!-- <div class="footer-list">
	  				<span class="list-image hambuger"></span>
	  				<span class="list-label"><span class="highlighted">{{data.calories}}</span> Calories (<span class="highlighted">{{data.hambugers}}</span> hambugers)</span>
	  			</div> -->

	  		</div>
	
		</div>
	  	
	  	<div id="myenergy-nonkwh-container" ng-repeat="item in myenergyItems" ng-click="goToDetailView(item.nextState)">
	  		<myenergy-line label="{{item.label}}" type="{{item.type}}">
	  	</div>
		
		<div id="empty"></div>
	</ion-content>
</ion-view>
