<ion-view>
  
  <ion-nav-title>
    <img src="./img/logo.png" style="width:100px; margin-top: 10px">
  </ion-nav-title>

	<ion-content id="setting">
	  	<div id="setting-container">
	  		<div class="list">

			    <div class="item item-avatar">
			      	<img src="./img/user.png" id="profile-image" ng-click="changeProfileImage()">
			      	<h2>name:   {{profile.nickName}}</h2>
              <h2>email:   {{profile.email}}</h2>
              <h2>plan:   {{plan}}kWh</h2>
          </div>

			    <li class="item item-icon-right">
      				Reset Daily Target
      				<i class="icon ion-ios-arrow-forward">
      				</i>
    			</li>

			    <li class="item item-toggle">
     				Auto Login
     				<label class="toggle toggle-assertive">
       					<input type="checkbox" ng-model="setting.enableAutoLogin" ng-change="changeSetting()">
       					<div class="track">
         					<div class="handle"></div>
       					</div>
    	 		  </label>
          </li>

    	 		<li class="item item-toggle">
     				Pop-up Real-time usage
     				<label class="toggle toggle-assertive">
       					<input type="checkbox" ng-model="setting.enableRealtimePopup" ng-change="changeSetting()">
       					<div class="track">
         					<div class="handle"></div>
       					</div>
    	 			</label>

  				</li>

  			</div>
	  	</div>
	</ion-content>
</ion-view>
